aiohttp
aiosignal
datasets
fastapi
furiosa-llm==2025.2.0
httpx==0.28.1
langchain
langchain-core
langchain-openai
langchain-text-splitters
langsmith
numpy
openai
orjson
pydantic
python-dotenv
PyYAML
requests
tiktoken
textblob
